body {
    background-image: url("../images/prism.png");
    background-repeat: repeat;
}

h1 {
    font-family: 'Boogaloo', cursive;
    text-align: center;
    font-size: 75px;
    color: white;
}

p {
    font-family: 'Boogaloo', cursive;
    text-align: center;
    font-size: 25px;
    color: white;
}

img {
    text-align: center;
}